<div class="carta">
    <div class="container-fluid" id="titulo1" >
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Acerca de Mí </span>
                </h1>
            </div>
        </div>
    </div> 
    
    <br>
    <br>

    <div class="container-fluid"> 
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-5" *ngFor="let per of datosperfil">
                <div class="container" id="profile" style="display: flex;justify-content: center;">
                    <div class="circular-landscape">
                        <img  class="profile-photo" [src]="per.fotoPersona" alt="hola">
                    </div>
                </div>
                <div class="btn-edit" (click)="mostrarEditPerfil()" *ngIf="!mostrareditPerfil">
                    <a class="btn-right">
                        <button class="fa fa-pen"></button>
                    </a>
                </div>
                <div *ngFor="let per of datosperfil">
                    <h1 id="text-perfil1" class="display-3">{{per?.nombrePersona}} {{per?.apellidoPersona}}</h1>
                    <h2 id="text-perfil2">{{per?.actualidadPersona}}</h2>
                    <h2 id="text-perfil3">{{per?.rubroPersona}}</h2>
                    <h2 id="text-perfil4">{{per?.ciudadPersona}}</h2>
                </div> 
                <br>
                <a href= "../../../assets/CV Bruno Nicolás Bagnato.pdf" download="CV Bruno Bagnato.pdf" style="text-decoration: none;">
                    <div class="d-grid gap-2">
                        <button class="btn btn-success btn-right bt" id="botoncv">Mi CV</button>
                    </div>
                </a>
                <br>
                <form (ngSubmit)="onSubmitPerfil(datosperfil)" *ngIf="mostrareditPerfil" >
                    <div class="form-control" *ngFor="let per of datosperfil">
                        <span class="display-6">Editar    
                        </span>
                        <br>
                        <div>
                            Nombre:
                            <input type="text"id="edit-perfil1" name="nombre" placeholder="nombre" [(ngModel)]="per.nombrePersona">
                        </div>
                        <div>
                            Apellido:
                            <input type="text"id="edit-perfil1" name="apellido" placeholder="apellido" [(ngModel)]="per.apellidoPersona">
                        </div>
                        <br>
                        <div>
                            Actualidad:
                            <input type="text"id="edit-perfil2" name="actualidad" placeholder="actualidad" [(ngModel)]="per.actualidadPersona">
                        </div>
                        <br>
                        <div>
                            Rubro:
                            <input type="text"id="edit-perfil3" name="rubro" placeholder="rubro" [(ngModel)]="per.rubroPersona">
                        </div>
                        <br>
                        <div>
                            Ciudad:
                            <input type="text"id="edit-perfil3" name="ciudad" placeholder="ciudad" [(ngModel)]="per.ciudadPersona">
                        </div>
                        <br>
                        <div>
                            Foto de perfil
                            <input type="search"id="edit-perfil3" name="foto" placeholder="foto del perfil" src="../../../assets/fotoperfil.jpg" [(ngModel)]="per.fotoPersona">
                        </div>
                        <br>
                        <div>
                        <input type="submit" class="btn btn-success">
                        <button class="btn btn-danger" (click)="mostrarEditPerfil()">Cancelar</button>
                        </div>
                    </div>
                </form>   
            </div>

            <div class="col-lg-8 col-sm-12 col-md-7">
                <div class="btn-edit" (click)="mostrarEditAcerca()" *ngIf="!mostrareditAcercaDe">
                    <a  class="btn-right">
                        <button class="fa fa-pen"></button>
                    </a>
                </div>        
                <div class="justify-content-sm-center text-start" id="parrafoacercade" *ngFor="let per of datosperfil">
                    <span class="display-6" id="text-acercademi"> {{per?.acercadePersona}}</span> 
                </div>
                <form (ngSubmit)="onSubmitAcerca(datosperfil)" *ngIf="mostrareditAcercaDe" >
                    <div class="form-control" *ngFor="let per of datosperfil">
                        <div>
                            <textarea  class="form-control" rows="3" type="text"id="acercademi" name="acercade" [(ngModel)]="per.acercadePersona"></textarea>
                        </div>
                        <br>
                        <div>
                            <input type="submit" class="btn btn-success" >
                            <button class="btn btn-danger" (click)="mostrarEditAcerca()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
                
        </div>     
    </div> 

    <br>
    <br> 
</div>
