
@media screen and (max-width: 767px) {
      nav{background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-bottom-style: ridge ;
        border-bottom-color: #0F2027; 
      }
      .nav-item{
        display: flex; 
      }
      .btn{
        display: flex; 
      }
      #banner img{
        width: 100%;
      }
      .nav-link:hover button{
        margin-top: 5px;
      }
      
      .fa{
        background-image: url("./edit-alt-solid-24.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        font-weight: 500;
        color: #444;
        font-size: 1rem;
        padding: 1.5rem 1.5rem;
        border: 2px solid white;
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease;
        box-shadow: .5rem .5rem 1rem #ccc, -.5rem -.5rem 1rem #fff;
        margin-bottom: 1rem;
    
      }
      .fa:hover{
        box-shadow: .5rem .5rem 1rem #fff, -.5rem -.5rem 1rem #ccc;
      }
      .fa:active{
        box-shadow: inset .2rem .2rem 1rem #fff, 
        inset -.2rem -.2rem 1rem #ccc;
      }
    
      #titulo1{
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
        padding: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-bottom-style:solid;
        border-bottom-color: black ;
        border-top-style:solid;
        border-top-width: 10px;
        border-bottom-width: 10px;
        border-top-color: black ;
        transition-property: linear;
        transition-duration: 2s;
      }
    
      #parrafpacercade{
        transition: .5s linear;
      }
    
      .circular-landscape{
        position: relative;
        width: 65%;
        height: 70%;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 5%;
        border-style: ridge;
        border-color: #0F2027;
        display: flex;
        justify-content: center;
        background-color: rgb(3, 3, 173);
      }
    
      .profile {
        margin-top: 30%;
        width: 50%;
        height: 50%;
        position: relative;
      }
      .circular-landscape img{
        width: 80%;
        height: 100%;
      }
    
      .separador-fila{
        background-color: #FFC93C;
      }
    
      .fotoeducacion{vertical-align: middle;width: 30%;float: right;}
     
      div.col .progress{
        margin-top: 8%;
      }
    
      div.carta .row{  
        border-bottom-color: black;
      }
    
      #descripcion {
        resize: none;
      }
    
      #proyectos{
        align-content: center;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-items: center;
      }
      
      #contacto {
        background-color: #1F1C18;
        color: white;
        padding-top: 5%;
        padding-bottom: 5%;
        height: fit-content;
      }
    
      .footer{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-top-style: ridge ;
        border-bottom-style: ridge ;
        border-top-color: #1F1C18;
        border-bottom-color:#1F1C18;
        font-family: 'Times New Roman', Times, serif;
        color: white;  
      }
  }

  
  nav{background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-style: ridge ;
    border-bottom-color: #0F2027; 
  }
  .nav-item{
    display: flex; 
  }
  .btn{
    display: flex; 
  }
  #banner img{
    width: 100%;
  }
  .nav-link:hover button{
    margin-top: 5px;
  }
  
  .card{
    background-color: transparent;
    padding: 1.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc, -.5rem -.5rem 1rem #fff;
    margin-bottom: 1rem;
  }

  .fa{
    background-image: url("./edit-alt-solid-24.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-weight: 500;
    color: #444;
    font-size: 1rem;
    padding: 1.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc, -.5rem -.5rem 1rem #fff;
    margin-bottom: 1rem;

  }
  .fa:hover{
    box-shadow: .5rem .5rem 1rem #fff, -.5rem -.5rem 1rem #ccc;
  }
  .fa:active{
    box-shadow: inset .2rem .2rem 1rem #fff, 
    inset -.2rem -.2rem 1rem #ccc;
  }

  #titulo1{
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
    padding: 15%;
    background-attachment: fixed;
    background-size: cover;
    border-bottom-style:solid;
    border-bottom-color: black ;
    border-top-style:solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-top-color: black ;
    transition-property: linear;
    transition-duration: 2s;
  }

  #parrafpacercade{
    transition: .5s linear;
  }

  .circular-landscape{
    position: relative;
    width: 65%;
    height: 70%;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5%;
    border-style: ridge;
    border-color: #0F2027;
    display: flex;
    justify-content: center;
    background-color: rgb(3, 3, 173);
  }

  .profile {
    margin-top: 30%;
    width: 50%;
    height: 50%;
    position: relative;
  }
  .circular-landscape img{
    width: 80%;
    height: 100%;
  }

  .separador-fila{
    background-color: #FFC93C;
  }

  .fotoeducacion{vertical-align: middle;width: 30%;float: right;}
 
  div.col .progress{
    margin-top: 8%;
  }

  div.carta .row{  
    border-bottom-color: black;
  }

  #descripcion {
    resize: none;
  }

  #proyectos{
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  #contacto {
    background-color: #1F1C18;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    height: fit-content;
  }

  .footer{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-style: ridge ;
    border-bottom-style: ridge ;
    border-top-color: #1F1C18;
    border-bottom-color:#1F1C18;
    font-family: 'Times New Roman', Times, serif;
    color: white;  
  }

