<div class="carta">
    <div class="container-fluid" id="titulo1">
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Cursos</span>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>
    
    <div class="container-fluid">
        <button id="agregar" *ngIf="!mostrarFormularioadd" (click)="mostrarFormulario()"></button>
        <button id="borrar" *ngIf="mostrarFormularioadd" (click)="mostrarFormulario()"></button>
        <app-add-course (addCourse)="agregarCurso($event)" *ngIf="mostrarFormularioadd"></app-add-course>
        <ul type="disc" *ngFor="let cur of datosCurso, let i=index" data-aos="fade-right">
            <div class="row" >
                <div class="col-lg-5 col-sm-12 col-md-11">
                    <h3 class="display-5" id="text-curso1-1">{{cur.nombreCurso}}</h3>
                    
                    <p class="display-6" id="text-curso1-2">{{cur.institucionCurso}}</p>
                    
                    <p id="text-curso1-3">{{cur.fechainicioCurso| date:"MMM-yyyy"}}- {{cur.fechafinCurso| date:"MMM-yyyy"}} 
                        <span *ngIf="revisarfechafin(cur.fechafinCurso)">
                            Actualidad
                        </span>
                    </p>
                    <form *ngIf="mostrarFormularioedit[i]" (ngSubmit)="onSubmit(cur, i)">
                        <div class="form-control">
                            <label class="display-6">Editar</label>
                            <div>
                                Nombre curso:
                                <input type="text" id="edit-curso1-1" name="nombre" [(ngModel)]="cur.nombreCurso" placeholder="nombre Curso">
                            </div>
                            <br>
                            <div>
                                Institución
                                <input type="text" id="edit-curso1-2" name="institucion"[(ngModel)]="cur.institucionCurso" placeholder="institucion Curso">
                            </div>
                            <br>
                            <div>
                                Fecha inicio:
                                <input type="date" id="inicio" name="inicio" [(ngModel)]="cur.fechainicioCurso" >
                            </div>
                            <br>
                            <div>
                                Fecha fin: 
                                <input type="date" id="fin" name="fin" [(ngModel)]="cur.fechafinCurso">
                            </div>
                            <br>
                            <input type="submit" class="btn btn-success">
                            <button class="btn btn-danger" (click)="mostrarEdit(i)">Cancelar</button>
    
                        </div>
                    </form>   
                </div>
                
                <div class="col-2 col-md-2  col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="mostrarEdit(i)" *ngIf="!mostrarFormularioedit[i]">
                        <a class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                </div>
                <div class="col-2 col-md-2  col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="borrarItem(cur)" *ngIf="!mostrarFormularioedit[i]">
                        <a  class="btn-right">
                            <button id="borrar"></button>
                        </a>
                    </div>   
                </div>
            </div>
            <span class="separador-fila" data-aos="fade-right"> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</span>
        </ul>
    </div>
    
    <br>
    <br>
</div>