<div class="carta">
    <div class="container-fluid" id="titulo1">
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Cursos</span>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>
    
    <div class="container-fluid">
        <button id="agregar" *ngIf="!mostrarFormularioadd" (click)="mostrarFormulario()"></button>
        <button id="borrar" *ngIf="mostrarFormularioadd" (click)="mostrarFormulario()"></button>
        <app-add-course (addCourse)="agregarCurso($event)" *ngIf="mostrarFormularioadd"></app-add-course>
        <ul type="disc" *ngFor="let cur of datosCurso, let i=index" data-aos="fade-right">
            <div class="row" >
                <div class="col-lg-5 col-sm-12 col-md-11">
                    <h3 class="display-5" id="text-curso1-1">{{cur.nombreCurso}}</h3>
                    
                    <p class="display-6" id="text-curso1-2">{{cur.institucionCurso}}</p>
                    
                    <p id="text-curso1-3">{{cur.fechaInicioCurso.month}} {{cur.fechaInicioCurso.year}} - {{cur.fechaFinCurso.month}} {{cur.fechaFinCurso.year}} </p>
                    <form *ngIf="mostrarFormularioedit[i]" (ngSubmit)="onSubmit(cur, i)">
                        <div class="form-control">
                            <label class="display-6">Editar</label>
                            <div>
                                <input type="text" id="edit-curso1-1" name="nombre" [(ngModel)]="cur.nombreCurso" placeholder="nombre Curso">
                            </div>
                            <br>
                            <div>
                                <input type="text" id="edit-curso1-2" name="institucion"[(ngModel)]="cur.institucionCurso" placeholder="institucion Curso">
                            </div>
                            <br>
                            <div>
                                <input type="text" id="mes" name="mesIni" [(ngModel)]="cur.fechaInicioCurso.month" placeholder="mes inicio">
                                <input type="number" id="edit-curso1-3" name="añoIni" [(ngModel)]="cur.fechaInicioCurso.year" placeholder="año inicio">
                            </div>
                            <br>
                            <div>
                                <input type="text" id="mes" name="mesFin" [(ngModel)]="cur.fechaFinCurso.month" placeholder="mes fin">
                                <input type="number" id="edit-curso1-3" name="añoFin" [(ngModel)]="cur.fechaFinCurso.year" placeholder="año fin">
                            </div>
                            <br>
                            <input type="submit" class="btn btn-success">
    
                        </div>
                    </form>   
                </div>
                
                <div class="col-2 col-md-2  col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="mostrarEdit(i)" *ngIf="!mostrarFormularioedit[i]">
                        <a href="#text-curso1-1" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                </div>
                <div class="col-2 col-md-2  col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="borrarItem(cur)">
                        <a href="#text-curso1-1" class="btn-right">
                            <button id="borrar"></button>
                        </a>
                    </div>   
                </div>
            </div>
            <span class="separador-fila" data-aos="fade-right"> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</span>
        </ul>
    </div>
    
    <br>
    <br>
</div>