<div class="carta">
    <div class="container-fluid" id="titulo1">
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Cursos</span>
                </h1>
            </div>
        </div>
    </div>

    <br>
    <br>
    
    <div class="container-fluid">
        <ul type="disc">
            <div class="row" data-aos="fade-right">
                <div class="col-lg-5 col-sm-10">
                    <h3 class="display-5" id="text-curso1-1">Curso de inglés para adolecentes</h3>
                    <div>
                        <input type="text" id="edit-curso1-1" oninput="editarCurso(1,1,this.value)" onkeydown="guardartextoCurso(1)" style="display: none;">
                    </div>
                    <p class="display-6" id="text-curso1-2">A.M.I.C.A.N.A</p>
                    <div>
                        <input type="text" id="edit-curso1-2" oninput="editarCurso(1,2,this.value)" onkeydown="guardartextoCurso(1)" style="display: none;">
                    </div>
                    <p id="text-curso1-3">2017-2021</p>
                    <div>
                        <input type="text" id="edit-curso1-3" oninput="editarCurso(1,3,this.value)" onkeydown="guardartextoCurso(1)" style="display: none;">
                    </div>
                </div>
                
                <div class="col-1">
                    <div class="btn-edit" onclick="cambiarcurso(1)">
                        <a href="#text-curso1-1" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                </div>
            </div>
            <span class="separador-fila" data-aos="fade-right"> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</span>
            <div class="row" data-aos="fade-right">
                <div class="col-lg-5 col-sm-10">
                    <h3 class="display-5" id="text-curso2-1">#SeProgramar</h3>
                    <div>
                        <input type="text" id="edit-curso2-1" oninput="editarCurso(2,1,this.value)" onkeydown="guardartextoCurso(2)" style="display: none;">
                    </div>
                    <p class="display-6" id="text-curso2-2">Argentina Programa</p>
                    <div>
                        <input type="text" id="edit-curso2-2" oninput="editarCurso(2,2,this.value)" onkeydown="guardartextoCurso(2)" style="display: none;">
                    </div>
                    <p id="text-curso2-3">JUN 2022-AUG 2022</p>
                    <div>
                        <input type="text" id="edit-curso2-3" oninput="editarCurso(2,3,this.value)" onkeydown="guardartextoCurso(2)" style="display: none;">
                    </div>
                </div>
                <div class="col-1">
                    <div class="btn-edit" onclick="cambiarcurso(2)">
                        <a href="#text-curso2-1" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                </div>
            </div>
            <span class="separador-fila" data-aos="fade-right"> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</span>
            <div class="row" data-aos="fade-right">
                <div class="col-lg-5 col-sm-10">
                    <h3 class="display-5" id="text-curso3-1">#YoProgramo</h3>
                    <div>
                        <input type="text" id="edit-curso3-1" oninput="editarCurso(3,1,this.value)" onkeydown="guardartextoCurso(3)" style="display: none;">
                    </div>
                    <p class="display-6" id="text-curso3-2">Argentina Programa</p>
                    <div>
                        <input type="text" id="edit-curso3-2" oninput="editarCurso(3,2,this.value)" onkeydown="guardartextoCurso(3)" style="display: none;">
                    </div>
                    <p id="text-curso3-3">OCT 2022-MAY 2023</p>
                    <div>
                        <input type="text" id="edit-curso3-3" oninput="editarCurso(3,3,this.value)" onkeydown="guardartextoCurso(3)" style="display: none;">
                    </div>
                </div>
                <div class="col-1">
                    <div class="btn-edit" onclick="cambiarcurso(3)">
                        <a href="#text-curso1" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                </div>
            </div>
            <span class="separador-fila" data-aos="fade-right"> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</span>
        </ul>
    </div>
    
    <br>
    <br>
</div>