<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <div>
            <label for="text" class="display-6">Ingrese Puesto</label>
            <br>
            <br> 
            <input type="text" id="puesto" name="puesto" placeholder="Nombre puesto" [(ngModel)]="puesto">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese Empersa</label>
            <br>
            <br> 
            <input type="text" id="empresa" name="empresa" placeholder="Nombre empresa" [(ngModel)]="empresa">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese descripcion</label>
            <br>
            <br> 
            <input type="text" id="descripcion" name="descripcion" placeholder="Nombre descripcion" [(ngModel)]="descripcion">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese fecha de inicio</label>
            <br>
            <br> 
            <input type="date" id="inicio" name="fechaini" placeholder="inicio" [(ngModel)]="fechainicio">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese fecha de finalización</label>
            <br>
            <br> 
            <input type="date" id="fin" name="fechafin"placeholder="fin" [(ngModel)]="fechafin">
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-success">
            
        </div>
    </div>    
    
</form>
<br>
