<div class="carta">
    <div class="container-fluid" id="titulo1">
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Proyectos</span>
                </h1>
            </div>
        </div>
    </div>
    
    <br>
    <br>

    <div class="container-fluid">
        <button id="agregar" *ngIf="!mostrarFormularioadd && authService.logIn()" (click)="mostrarFormulario()"></button>
        <button id="borrar" *ngIf="mostrarFormularioadd" (click)="mostrarFormulario()"></button>
        <app-add-proyect (addProyect)="agregarItem($event)" *ngIf="mostrarFormularioadd"></app-add-proyect>
        <ul type="disc" data-aos="fade-right" *ngFor="let pro of datosProyecto, let i=index" >
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-11">
                    <h3 class="display-5" id="text-proyecto1-1">{{pro.nombreProyecto}}</h3>
                    
                    <p class="display-6" id="text-proyecto1-2">{{pro.institucionProyecto}}</p>
                    
                    <p id="text-proyecto1-3">{{pro.descripcionProyecto}}</p>
                    <p>Fecha de realización del proyecto: {{pro.fechaProyecto| date: "MMM-yyyy"}}</p>
                    <br>
                    <p>Link del proyecto: {{pro.linkProyecto}}</p>
                    
                    <form (ngSubmit)="onSubmit(pro,i)" *ngIf="mostrarFormularioedit[i]">
                        <div class="form-control">
                            <label class="display-6">Editar</label>
                            <div>
                                Nombre:
                                <input type="text" id="edit-proyecto1-1" [(ngModel)]="pro.nombreProyecto" name="nombre">
                            </div>
                            <br>
                            <div>
                                Institución
                                <input type="text" id="edit-proyecto1-2" [(ngModel)]="pro.institucionProyecto" name="institucion">
                            </div>
                            <br>
                            <div>
                                Descripción:
                                <textarea type="text" id="edit-proyecto1-3" [(ngModel)]="pro.descripcionProyecto" name="descripcion" rows="3" cols="80"></textarea>
                            </div>
                            <br>
                            <div>
                                Fecha proyecto:
                                <input type="date" [(ngModel)]="pro.fechaProyecto" name="fecha del proyecto">
                            </div>
                            <div>
                                Link proyecto:
                                <input type="text" [(ngModel)]="pro.linkProyecto" name="link del proyecto">
                            </div>
                            <br>
                            <input type="submit" class="btn btn-success">
                            <button class="btn btn-danger"  (click)="recargar(i)">Cancelar</button>
                        </div>
                    </form>
                    <br>
                </div>
                
                <div class=" col-2 col-md-2  col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="mostrarEdit(i)" *ngIf="!mostrarFormularioedit[i] && authService.logIn()">
                        <a  class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                </div>
                <div class=" col-2 col-md-2 col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="borrarItem(pro)" *ngIf="!mostrarFormularioedit[i] && authService.logIn()">
                        <a  class="btn-right">
                            <button id="borrar"></button>
                        </a>
                    </div>   
                </div>
            </div>
            <span class="separador-fila" data-aos="fade-right"> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</span>
            <br>
        </ul>
    </div>
    <br>
    <br>        
</div>
