<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <div>
            <label for="text" class="display-6">Ingrese nombre del curso</label>
            <br>
            <br> 
            <input type="text" name="curso" id="text" placeholder="Nombre curso" [(ngModel)]="curso">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese institución </label>
            <br>
            <br> 
            <input type="text" name="institucion" id="text" placeholder="Nombre institución" [(ngModel)]="institucion">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese fecha de inicio</label>
            <br>
            <br> 
            <input type="date" name="inicio" id="inicio" placeholder="fecha inicio" [(ngModel)]="fechainicio">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese fecha de finalización</label>
            <br>
            <br> 
            <input type="date" name="fin" id="fin" placeholder="fecha fin" [(ngModel)]="fechafin">
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-success">
            
        </div>
    </div>    
    
</form>
<br>
