<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <div>
            <label for="text" class="display-6">Ingrese nombre del Proyecto</label>
            <br>
            <br> 
            <input type="text" name="nombre" id="text" placeholder="Nombre Proyecto" [(ngModel)]="proyecto">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese institución </label>
            <br>
            <br> 
            <input type="text" name="institucion" id="text" placeholder="Nombre institución" [(ngModel)]="institucion">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese Descripción</label>
            <br>
            <br> 
            <input type="text" name="descripcion" id="text" placeholder="Descripción" [(ngModel)]="descripcion">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese fecha de proyecto</label>
            <br>
            <br> 
            <input type="date" name="fecha" id="text" placeholder="fecha" [(ngModel)]="fecha">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese link del proyecto(opcional)</label>
            <br>
            <br> 
            <input type="text" name="link" id="text" placeholder="Descripción" [(ngModel)]="link">
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-success">
            
        </div>
    </div>    
    
</form>
<br>
