<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <div>
            <label for="text" class="display-6">Ingrese nombre del Proyecto</label>
            <br>
            <br> 
            <input type="text" name="text" id="text" placeholder="Nombre Proyecto" [(ngModel)]="proyecto">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese institución </label>
            <br>
            <br> 
            <input type="text" name="text" id="text" placeholder="Nombre institución" [(ngModel)]="institucion">
        </div>
        <br>
        <div>
            <label for="text" class="display-6">Ingrese Descripción</label>
            <br>
            <br> 
            <input type="text" name="text" id="text" placeholder="Descripción" [(ngModel)]="descripcion">
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-success">
            
        </div>
    </div>    
    
</form>
<br>
