@media screen and (max-width: 767px){
    #login{
    background-image: url(/src/assets/fotofondoiniciosesion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    }
    .card{
        height: 50%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border-style: solid;
        box-shadow: 24%;  
    }
    #cuadro{
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }
    form{
        margin-bottom: 5%;
    }
}

nav{background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-style: ridge ;
    border-bottom-color: #0F2027; 
  }
#login{
    background-image: url(/src/assets/fotofondoiniciosesion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.card{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-style: solid;
    box-shadow: 24%;  
}
#cuadro{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
form{
    margin-bottom: 5%;
}