
#login{
    background-image:url("/src/assets/fotofondoiniciosesion.jpg");
    background-size:auto;
    background-repeat: repeat;
    background-attachment: fixed;
    
}
.card{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-style: solid;
    box-shadow: 24%;  
}
#cuadro{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
form{
    margin-bottom: 5%;
}
