<div class="carta">
    <div class="container-fluid" id="titulo1">
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Educación</span>
                </h1>
            </div>
        </div>
    </div> 
    
    <br>
    <br>

    <div class="container-fluid">
        <button id="agregar" (click)="mostrarFormulario()" *ngIf="!mostrarformularioadd"></button>
        <button id="borrar" *ngIf="mostrarformularioadd" (click)="mostrarFormulario()"></button>
        <app-add-education (addEducation)="nuevoItem($event)" *ngIf="mostrarformularioadd"></app-add-education>    
        <ul type="disc" *ngFor="let edu of datosEducacion, let i=index" data-aos="fade-right">
            <div class="row">
                <div class="col-lg-6  col-md-11 col-sm-12">
                    <h3 class="display-5" id="text-educacion1-1">{{edu?.establecimiento}}</h3>
                    <p class="display-6" id="text-educacion1-2">{{edu.orientacion}}</p>
                    <p id="text-educacion1-3">{{edu?.fechaInicioEducacion?.month}} {{edu?.fechaInicioEducacion?.year}} - {{edu?.fechaFinEducacion?.month}} {{edu?.fechaFinEducacion?.year}} </p>
                    <div *ngIf="mostrarEdit[i]">
                        <form (ngSubmit)="onSubmit(edu,i)">
                            <div class="form-control">
                                <label class="display-5"> Editar</label>
                                <br>
                                <div>
                                    <input type="text"name="establecimiento" id="text" placeholder="Nombre Establecimiento" [(ngModel)]="edu.establecimiento">
                                </div>
                                <br>
                                <div>
                                    <input type="text"name="orientacion" id="text" placeholder="Nombre orientacion" [(ngModel)]="edu.orientacion">
                                </div>
                                <br>
                                <div>
                                    <input type="text"name="mesini" id="mes" placeholder="Mes inicio" [(ngModel)]="edu.fechaInicioEducacion.month">
                                    <input type="number"name="anoini" id="number" placeholder="Año inicio" [(ngModel)]="edu.fechaInicioEducacion.year">
                                </div>
                                <br>
                                <div>
                                    <input type="text"name="mesfin" id="mes" placeholder="Mes final" [(ngModel)]="edu.fechaFinEducacion.month">
                                    <input type="number"name="anofin" id="number" placeholder="Año final" [(ngModel)]="edu.fechaFinEducacion.year">
                                </div>
                                <br>
                                <div>
                                    <input type="text"name="fotoEducacion" id="text" placeholder="foto Educación" [(ngModel)]="edu.fotoEducacion">
                                </div>
                                <br>
                                <div>
                                    <input type="submit" class="btn btn-success">
                                </div>
                            </div>
                        </form>    
                    </div>    
                </div>
                <div class="col-2 col-md-2  col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="mostrarFormularioEdit(i)" *ngIf="!mostrarEdit[i]">
                        <a href="#text-educacion1-1" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>   
                </div>
                <div class="col-2 col-md-2  col-sm-2 col-lg-1">
                    <div class="btn-edit" (click)="borrarItem(edu)">
                        <a href="#text-educacion1-1" class="btn-right">
                            <button id="borrar"></button>
                        </a>
                    </div>   
                </div>
                <div class="col-lg-6 col-sm-6">    
                    <img class="fotoeducacion" [src]= "edu?.fotoEducacion" alt="">
                </div>
            </div>
            <span class="separador-fila"> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</span>
            <br>  
        </ul>
    </div>
    <br>
    <br>
</div>