<div class="carta">
    <div class="container-fluid" id="titulo1">
        <div class="row justify-content-sm-center text-center" data-aos="fade-up">
            <div class="col-sm-10 col-md-8 col-sm-6">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Destrezas</span>
                </h1>
            </div>
        </div>
    </div> 
    
    <br>
    <br>

    
<div class="container-fluid ">
        <div class="carta">
            <div class="row justify-content-center">
                <div class="col-lg-6 , col-sm-12" style="margin-bottom: 22px;">
                    <div class="btn-edit" onclick="cambiardestreza(1)">
                        <a href="#text-destreza1" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div> 
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza1"> JAVA</h3>
                                <div>
                                    <input type="text"id="edit-destreza1" oninput="editartextoDestreza(1,this.value)" onkeydown="guardartextoDestreza(1)" style="display:none">
                                </div> 
                            </div>
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra1" style="width: 50%" data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra1" oninput="editarbarraDestreza(1,this.value)" onkeydown="guardartextoDestreza(1)" style="display:none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-lg-6 , col-sm-12">
                    <div class="btn-edit" onclick="cambiardestreza(2)">
                        <a href="#text-destreza2" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div> 
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza2"> C++</h3>
                                <div>
                                    <input type="text"id="edit-destreza2" oninput="editartextoDestreza(2,this.value)" onkeydown="guardartextoDestreza(2)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra2" style="width: 20%"data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra2" oninput="editarbarraDestreza(2,this.value)" onkeydown="guardartextoDestreza(2)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-6 , col-sm-12" style="margin-bottom: 22px;">
                    <div class="btn-edit" onclick="cambiardestreza(3)">
                        <a href="#text-destreza3" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div> 
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza3"> MySQL</h3>
                                <div>
                                    <input type="text"id="edit-destreza3" oninput="editartextoDestreza(3,this.value)" onkeydown="guardartextoDestreza(3)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra3" style="width: 35%"data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra3" oninput="editarbarraDestreza(3,this.value)" onkeydown="guardartextoDestreza(3)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <br>
                <div class="col-lg-6 , col-sm-12">
                    <div class="btn-edit" onclick="cambiardestreza(4)">
                        <a href="#text-destreza4" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza4">Ruby</h3>
                                <div>
                                    <input type="text"id="edit-destreza4" oninput="editartextoDestreza(4,this.value)" onkeydown="guardartextoDestreza(4)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra4" style="width: 25%"data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra4" oninput="editarbarraDestreza(4,this.value)" onkeydown="guardartextoDestreza(4)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-6 , col-sm-12" style="margin-bottom: 22px;">
                    <div class="btn-edit" onclick="cambiardestreza(5)">
                        <a href="#text-destreza5" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza5">JavaScript</h3>
                                <div>
                                    <input type="text"id="edit-destreza5" oninput="editartextoDestreza(5,this.value)" onkeydown="guardartextoDestreza(5)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra5" style="width: 30%" data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra5" oninput="editarbarraDestreza(5,this.value)" onkeydown="guardartextoDestreza(5)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <br>
                <div class="col-lg-6 , col-sm-12">
                    <div class="btn-edit" onclick="cambiardestreza(6)">
                        <a href="#text-destreza6" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza6">HTML</h3>
                                <div>
                                    <input type="text"id="edit-destreza6" oninput="editartextoDestreza(6,this.value)" onkeydown="guardartextoDestreza(6)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra6" style="width: 35%" data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra6" oninput="editarbarraDestreza(6,this.value)" onkeydown="guardartextoDestreza(6)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-6 , col-sm-12" style="margin-bottom: 22px;">
                    <div class="btn-edit" onclick="cambiardestreza(7)">
                        <a href="#text-destreza7" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza7">CSS</h3>
                                <div>
                                    <input type="text"id="edit-destreza7" oninput="editartextoDestreza(7,this.value)" onkeydown="guardartextoDestreza(7)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra7" style="width: 25%" data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra7" oninput="editarbarraDestreza(7,this.value)" onkeydown="guardartextoDestreza(7)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <br>
                <div class="col-lg-6 , col-sm-12">
                    <div class="btn-edit" onclick="cambiardestreza(8)">
                        <a href="#text-destreza8" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza8">Análisis de sistemas</h3>
                                <div>
                                    <input type="text"id="edit-destreza8" oninput="editartextoDestreza(8,this.value)" onkeydown="guardartextoDestreza(8)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra8" style="width: 60%" data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra8" oninput="editarbarraDestreza(8,this.value)" onkeydown="guardartextoDestreza(8)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-6 , col-sm-12" style="margin-bottom: 22px;">
                    <div class="btn-edit" onclick="cambiardestreza(9)">
                        <a href="#text-destreza9" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza9">Diseño de sistemas</h3>
                                <div>
                                    <input type="text"id="edit-destreza9" oninput="editartextoDestreza(9,this.value)" onkeydown="guardartextoDestreza(9)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra9" style="width: 55%" data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra9" oninput="editarbarraDestreza(9,this.value)" onkeydown="guardartextoDestreza(9)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <br>
                <div class="col-lg-6  col-sm-12">
                    <div class="btn-edit" onclick="cambiardestreza(10)">
                        <a href="#text-destreza10" class="btn-right">
                            <button class="fa fa-pen"></button>
                        </a>
                    </div>
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <h3 id="text-destreza10">Trabajo en equipo</h3>
                                <div>
                                    <input type="text"id="edit-destreza10" oninput="editartextoDestreza(10,this.value)" onkeydown="guardartextoDestreza(10)" style="display:none">
                                </div>
                            </div>
                            
                            <div class="col-7">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="margin-top: 10px;">
                                    <span class="progress-bar" id="text-barra10" style="width: 80%" data-aos="fade-right"></span>
                                </div>
                                <div>
                                    <input type="number"id="edit-barra10" oninput="editarbarraDestreza(10,this.value)" onkeydown="guardartextoDestreza(10)" style="display:none">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
</div>
