<div class="carta">
    <div class="container-fluid" id="titulo1">
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Contacto</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="contacto">
        <ul>
            <div class="row ">
                <div class="col-lg-7 col-sm-12">
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label display-6">Ingrese su correo</label>
                            <input type="email" class="form-control" id="mail" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label display-6">Agregue el mensaje que desee</label>
                            <textarea class="form-control" id="descripcion" rows="3"></textarea>
                        </div>
                        <div class="d-grid gap-3 mx-4 my-5">
                            <input type="submit" class="btn btn-success">
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <h3 class="display-6">Información de Contacto</h3>
                    <ul class="">
                        <div>
                            <h4>Email</h4>
                            <a href="brunobagnato96@gmail.com">brunobagnato96@gmail.com</a>
                        </div>
                        <div>
                            <h4>Linkedn</h4>
                            <a href="https://www.linkedin.com/in/bruno-bagnato-4977941a6">Perfil de linkedn</a>
                        </div>
                        <div>
                            <h4>Número de celular</h4>
                            <a href="+542616524699">+542616524699</a>
                        </div>    
                    </ul>

                </div>    
            </div>    
        </ul>
    </div>
</div>
