<div class="carta">
    <div class="container-fluid" id="titulofinal">
        <div class="row justify-content-sm-center text-center">
            <div class="col-sm-10 col-md-8 col-sm-6" data-aos="fade-up">
                <h1 class="dispay-1 text-white">
                    <span class="small"> Full stack developer</span>
                    <br>
                    <span class="display-1"> Contacto</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="contacto">
        <div class="footer-dark">
            <ul>
                <div class="row" *ngFor="let con of datosperfil">
                    <div class="col-lg-5 col-sm-12">
                        <h3 class="display-6">Información de Contacto</h3>
                        <ul class="">
                            <div>
                                <h4>Email</h4>
                                <a href="">{{con.emailPersona}}</a>
                            </div>
                            <div>
                                <h4>Linkedn</h4>
                                <a href="{{con.linkdlnPersona}}">perfil linkedin</a>
                            </div>
                            <div>
                                <h4>Número de celular</h4>
                                <a href="">{{con.celularPersona}}</a>
                            </div>    
                        </ul>

                    </div>    
                </div>    
            </ul>
        </div>
    </div>
</div>
